* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: aquire;
    src: url(../font/AquireLight-YzE0o.otf);
    font-display: swap;
}

@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu-Regular.ttf);
    font-display: swap;
}

:root {
    /* fluid font sizes */
    --step--5: clamp(0.40rem, calc(0.39rem + 0.05vw), 0.43rem);
    --step--4: clamp(0.48rem, calc(0.46rem + 0.11vw), 0.54rem);
    --step--3: clamp(0.58rem, calc(0.54rem + 0.18vw), 0.67rem);
    --step--2: clamp(0.69rem, calc(0.64rem + 0.28vw), 0.84rem);
    --step--1: clamp(0.83rem, calc(0.75rem + 0.42vw), 1.05rem);
    --step-0: clamp(1.00rem, calc(0.88rem + 0.61vw), 1.31rem);
    --step-1: clamp(1.20rem, calc(1.03rem + 0.86vw), 1.64rem);
    --step-2: clamp(1.44rem, calc(1.20rem + 1.19vw), 2.05rem);
    --step-3: clamp(1.73rem, calc(1.40rem + 1.63vw), 2.56rem);
    --step-4: clamp(2.07rem, calc(1.63rem + 2.21vw), 3.20rem);
    --step-5: clamp(2.49rem, calc(1.90rem + 2.96vw), 4.01rem);
    
    /* fluid margins and padding */
    --mp--5: clamp(0.13rem, calc(-0.03rem + 0.75vw), 0.51rem);
    --mp--4: clamp(0.15rem, calc(-0.04rem + 0.95vw), 0.64rem);
    --mp--3: clamp(0.18rem, calc(-0.06rem + 1.21vw), 0.80rem);
    --mp--2: clamp(0.22rem, calc(-0.09rem + 1.53vw), 1.00rem);
    --mp--1: clamp(0.26rem, calc(-0.13rem + 1.93vw), 1.25rem);
    --mp-0: clamp(0.31rem, calc(-0.18rem + 2.44vw), 1.56rem);
    --mp-1: clamp(0.38rem, calc(-0.24rem + 3.08vw), 1.95rem);
    --mp-2: clamp(0.45rem, calc(-0.33rem + 3.89vw), 2.44rem);
    --mp-3: clamp(0.54rem, calc(-0.44rem + 4.90vw), 3.05rem);
    --mp-4: clamp(0.65rem, calc(-0.59rem + 6.18vw), 3.82rem);
    --mp-5: clamp(0.78rem, calc(-0.78rem + 7.79vw), 4.77rem);
  
    /* fallback font */
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

body {font-family: ubuntu;}

header {
    font-family: aquire;
    font-size: var(--step-4);
    font-weight: bold;
}

form {
    display: flex;
    width: 75vw;
    border-radius: 3rem;
}

input {
    padding: var(--mp--5);
    width: 60vw;
    outline: none;
    border: none;
}

form, input {background-color: #ccfbf1;}

.search-icon {
    opacity: 0.6;
    height: 20px;
    width: 30px;
}

.search-icon-wrapper {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: end;
    align-items: center;
}

.current-profile {
    display: flex;
}

.jesse-martin-avatar {
    border-radius: 6rem;
    height: 80px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info > span {
    font-size: var(--step-3);
}